/*
    This file is part of Hilight Color Changer (HiCC).

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with HiCC.  If not, see <https://www.gnu.org/licenses/>.
*/

#include "resource.h"

IDI_APPICON ICON DISCARDABLE    "../RESOURCES/icon.ico"

CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "hicc.manifest"

STRINGTABLE
BEGIN
    IDS_RESET,          "Reset to default"
    IDS_CANCEL,         "Cancel"
    IDS_APPLY,          "Apply"
    IDS_ABOUT,          "?"
    IDS_HILIGHT,        "Hilight"
    IDS_HTC,            "HotTrackingColor"
    IDS_CHANGE,         "Change"
    IDS_NO_WALLPAPER,   "No wallpaper"
    IDS_PREVIEW,        "Preview"
    IDS_DESC_HI,        "[BORDER] Color to highlight active controls and text."
    IDS_DESC_HTC,       "[BACKGROUND] Color for a hyperlink or hot-tracked item."
    IDS_WINDOW_TITLE,   "Hilight Color Changer"
    IDS_GITHUB_URL,     "https://github.com/n0dere/HiCC"
    IDS_GNU_GPL_V3,     "\
This program is free software: you can redistribute it and/or modify\r\n\
it under the terms of the GNU General Public License as published by\r\n\
the Free Software Foundation, either version 3 of the License, or\r\n\
(at your option) any later version.\r\n\
\r\n\
This program is distributed in the hope that it will be useful,\r\n\
but WITHOUT ANY WARRANTY; without even the implied warranty of\r\n\
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the\r\n\
GNU General Public License for more details.\0\
                        "
    IDS_OK,             "OK"
END

IDD_ABOUTBOX DIALOGEX 0, 0, 283, 169
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "About (?)"
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    ICON            IDI_APPICON, -1, 24, 13, 21, 20
    LTEXT           "", IDC_DLG_APPNAME, 53, 13, 114, 8, SS_NOPREFIX
    DEFPUSHBUTTON   "", IDC_DLG_OK, 219, 142, 50, 14, WS_GROUP
    GROUPBOX        "GNU GPL v3", -1, 14, 43, 255, 95, BS_CENTER
    CONTROL         "<a>https://github.com/n0dere/HiCC</a>", IDC_DLG_URL_GITHUB,
                    "SysLink", WS_TABSTOP, 53, 24, 193, 10
    EDITTEXT        IDC_DLG_EDIT_LICENSE, 21, 57, 241, 73,
                    ES_MULTILINE | ES_AUTOHSCROLL | ES_READONLY | NOT WS_BORDER,
                    WS_EX_LEFTSCROLLBAR
    LTEXT           VER_APPVERSION_STR, -1, 230, 13, 30, 8, SS_RIGHT
END

VS_VERSION_INFO VERSIONINFO
FILEVERSION         VER_APPVERSION
PRODUCTVERSION      VER_APPVERSION
FILETYPE            VFT_APP
FILEFLAGSMASK       VS_FFI_FILEFLAGSMASK
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "ProductName", "Hilight Color Changer\0"
            VALUE "FileDescription", "Hilight Color Changer\0"
            VALUE "FileVersion", VER_APPVERSION_STR
            VALUE "ProductVersion", VER_APPVERSION_STR
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", LANG_ENGLISH, SUBLANG_ENGLISH_US
    END
END